<!doctype html>
<html lang="jp">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="home.scss">
  <title>Sign Up</title>
  <link href="https://fonts.googleapis.com/css?family=Bellefair" rel="stylesheet">
  <!--<link href="https://fonts.googleapis.com/earlyaccess/hannari.css" rel="stylesheet" />-->
  <link href="https://fonts.googleapis.com/earlyaccess/sawarabimincho.css" rel="stylesheet" />
</head>
<body>

<div class="background_box">
  <div class="content_box">
    <div class="main_content">
      <h2>Sign up</h2>

      <div class="form_content">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>


            <div class="field form-group">
              <%= f.label 'ユーザーネーム' %>
              <%= f.text_field :username, autofocus: true, class: 'textfield form-control' %>
            </div>

            <div class="field form-group">
              <%= f.label 'パスワード' %>
              <%= f.password_field :password, autocomplete: 'off', class: 'textfield form-control' %>
            </div>

            <div class="field form-group">
              <%= f.label 'パスワード確認' %>
              <%= f.password_field :password_confirmation, autocomplete: 'off', class: 'textfield form-control' %>
            </div>

            <div class="action">
              <%= f.submit 'サインアップ', :class=>'btn btn-default' %>

              <% if notice %>
                  <div class="error_message">
                    <p class="alert alert-notice"><%= notice %></p>
                  </div>
              <% end %>
              <% if alert %>
                  <div class="error_message">
                    <p class="alert alert-error"><%= alert %></p>
                  </div>
              <% end %>
            </div>

            <div class="log_in_content">
              <p>アカウントをお持ちですか？</p>
              <%= link_to 'log in', new_user_session_path, :class=>'link_content' %>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

</body>
</html>


