<!doctype html>
<html lang="jp">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="home.scss">
  <title>Document</title>
  <link href="https://fonts.googleapis.com/earlyaccess/hannari.css" rel="stylesheet" />
</head>
<body>

<div class="background_box">
  <div class="content_box">
    <div class="main_content">
      <h2>ログイン</h2>

      <div class="form_content">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="field">
              <%= f.label 'ユーザーネーム' %><br />
              <%= f.text_field :username, autofocus: true %>
            </div>

            <div class="field">
              <%= f.label 'パスワード' %><br />
              <%= f.password_field :password, autocomplete: "off" %>
            </div>

            <% if devise_mapping.rememberable? -%>
                <div class="check">
                  <%= f.check_box :remember_me %>
                  <%= f.label 'ユーザーをおぼえておく' %>
                </div>
            <% end -%>

            <div class="action">
              <%= f.submit 'ログイン', :class=>"btn btn-default" %>
            </div>

            <div class="sign_up_content">
              <p>はじめてごりようですか？</p>
              <%= link_to "サインアップ", new_user_registration_path, :class=>'link_content' %>
            </div>

        <% end %>

        <!--<div class="action">-->
        <!--<%= button_to 'サインアップ', new_user_registration_path, :method=>:get, :class=>"btn btn-default" %>-->
        <!--</div>-->

      </div>
    </div>
  </div>
</div>

</body>
</html>


